# OS
.DS_Store
Thumbs.db

# Office temp files
~$*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.vite/

# Środowisko
.env
*.local

# Logi
*.log
locust_report.html
